/* span {
    display: table;
    margin: 0 auto;
} */

.navbar {
  margin: 0;
}

.logoTitle {
  width: 100%;
  text-align: center;
}

.logoTitle a {
  margin-right: 1rem;
}

.logoTitle span {
  position: relative;
  top: -15px;
}