.timeInput {
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
}

button {
    width: 200px;
}

.commandBtnsAll {
    margin: 0 auto;
    margin-top : 1rem;
    height: 20vw;
    width: 40vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.commandBtnsAll::-webkit-scrollbar {
    display: none;
}

button {
    margin-left: 2vw;
}

.title {
    text-align: center;
}
