.timeInput {
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
}

button {
    width: 200px;
}

.commandBtns {
    margin-left: 3rem;
    margin-top: 1rem;
    overflow-y: scroll;
    height: 25rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    text-align: center;
}

.commandBtns::-webkit-scrollbar {
    display: none;
}